
html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
}

p{
    font-family: Calibri;
}
.tagline {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 18px;
	font-family: Calibri;
	color: white;
	text-align: center;
	background-color: teal;

}


.top_nav
    {
        display: table;
        width: 80%;
        float: right;
        margin-top:10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;

    }
    .Cell
    {
        font-family: Calibri;
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }

.home_banner{
	background-image: url('../media/images/havelock_home_banner.jpg');
	background-size: cover;
	max-width: 100%;
	height: 380px;
	
	background-repeat: no-repeat;
	text-align: center;
}

.coral_banner{
    background-image: url('../media/images/coral_reef.jpg');
    background-size: cover;
    max-width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    text-align: center;
}

 .subpage_heading
    {
    	width: 100%;
        display: table-row;
        text-align: center;
    }

    .sub_top_nav
    {
        display: table;
        width: 100%;
        margin-top:10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .portblair_snap
    {
    background-image: url('../media/images/portblair_image.jpg');
	background-size: cover;
	width: 35%;
	margin-left: 100px;
	padding-left: 100px;
	height: 200px;
    }

    .havelock_snap
    {
    background-image: url('../media/images/havelock.jpg');
	background-size: cover;
	max-width: 50%;
	margin-left: 100px;
	padding-left: 100px;
	height: 300px;
    }

    .galathea_snap
    {
    background-image: url('../media/images/galathea.jpg');
    background-size: cover;
    max-width: 50%;
    margin-left: 100px;
    padding-left: 100px;
    height: 300px;
    }

    .galathea_snap
    {
    background-image: url('../media/images/galathea.jpg');
    background-size: cover;
    max-width: 50%;
    margin-left: 100px;
    padding-left: 100px;
    height: 300px;
    }

    .thullier_snap
    {
    background-image: url('../media/images/mt_thullier.jpg');
    background-size: cover;
    max-width: 50%;
    margin-left: 100px;
    padding-left: 100px;
    height: 300px;
    }

    .lighthouse_snap
    {
    background-image: url('../media/images/light_house.jpg');
    background-size: cover;
    max-width: 50%;
    margin-left: 100px;
    padding-left: 100px;
    height: 300px;
    }

    .campbell_snap
    {
    background-image: url('../media/images/campbell_bay.jpg');
    background-size: cover;
    max-width: 50%;
    margin-left: 100px;
    padding-left: 100px;
    height: 300px;
    }